
@font-face {
	font-family:isFont;
	src:url('../font/NotoSansKR-Regular.otf');
	unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
	font-weight:400;
}

@font-face {
	font-family:isFont;
	src:url('../font/NotoSansKR-Medium.otf');
	unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
	font-weight:bold;
}

@font-face {
	font-family:isFont;
	src:url('../font/Poppins-Regular.ttf');
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
	font-weight:400;
}

@font-face {
	font-family:isFont;
	src:url('../font/Poppins-Bold.ttf');
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
	font-weight:700;
}

@font-face {
	font-family:isFont;
	src:url('../font/Poppins-ExtraBold.ttf');
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
	font-weight:800;
}

@font-face {
	font-family:isFont;
	src:url('../font/Poppins-Black.ttf');
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
	font-weight:900;
}